<header class="py-4  md:px-75 px-10 bg-white border-b border-litegrey border-solid">
    <nav class="flex items-center justify-between flex-nowrap">

      <a href="#">
        <img src="/assets/images/icons/realworld-icon.png" alt="icon" class="lg:w-auto md:w-40 w-32 h-auto"  >
      </a>
    
    
    <div class="flex flex-col lg:flex-row ">
      <div class="hidden lg:block w-full" id="dropdownbtn">
        <div class=" flex lg:flex-row flex-col absolute top-14 right-10  lg:bg-transparent  lg:static bg-white z-10 p-5 gap-2 lg:gap-0 lg:p-0">
          <ul class="flex flex-col lg:flex-row lg:items-center  xl:pr-76 lg:pr-16  xl:gap-65 lg:gap-14 md:gap-2">
            <li ><a href="#" class="text-green font-sourcecode md:text-base text-sm font-semibold leading-120 tracking-0.48">Explore.</a></li>
            <li ><a href="#" class="text-grey font-sourcecode md:text-base text-sm font-normal leading-120 tracking-0.48">FAQ.</a></li>
          </ul>


          <div class="flex flex-col items-start lg:flex-row lg:items-center  xl:pr-30 xl:gap-5 lg:gap-4 md:gap-2 gap-2 lg:pr-7 md:pt-2 lg:pt-0">
            <a href="#" href="mailto:realworld@gmail.com" target="_blank" class="border rounded-lg lg:p-2.5 p-2 bg-liteblue">
            <!-- message icon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="md:w-6 md:h-6 h-5 w-5" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.02945 6.51219L10.2355 12.4802C11.2874 13.2453 12.7126 13.2453 13.7645 12.4802L21.9706 6.51219C21.7299 4.53314 20.044 3 18 3H6C3.95599 3 2.27007 4.53314 2.02945 6.51219ZM22 8.96377L14.9409 14.0977C13.1876 15.3728 10.8124 15.3728 9.05914 14.0977L2 8.96377V17C2 19.2091 3.79086 21 6 21H18C20.2091 21 22 19.2091 22 17V8.96377Z" fill="#006736"/>
              </svg>
            </a>
            <a href="https://web.whatsapp.com/" target="_blank" class="border rounded-lg lg:p-2.5 p-2 bg-liteblue ">
            <!-- whatapp icon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="md:w-6 md:h-6 h-5 w-5" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5229 22 12 22C10.4724 22 9.02483 21.6575 7.72984 21.045L3.37452 21.7709C2.69954 21.8834 2.1135 21.3 2.22301 20.6245L2.93565 16.229C2.33535 14.9446 2.00003 13.5114 2.00003 12C2.00003 6.47715 6.47718 2 12 2C17.5229 2 22 6.47715 22 12ZM16 14.6749V15.1111C16 15.602 15.602 16 15.1111 16C11.1838 16 8 12.8162 8 8.88889C8 8.39797 8.39797 8 8.88889 8H9.32509C9.86693 8 10.3542 8.32988 10.5554 8.83296L10.742 9.29949C10.9506 9.82105 10.7247 10.4155 10.2222 10.6667C10.2222 10.6667 10.4444 11.7778 11.3333 12.6667C12.2222 13.5556 13.3333 13.7778 13.3333 13.7778C13.5845 13.2753 14.1789 13.0494 14.7005 13.258L15.167 13.4446C15.6701 13.6458 16 14.1331 16 14.6749Z" fill="#006736"/>
              </svg>
            </a>
          </div>
          <div class="flex">
          <button class="rounded-lg xl:py-3 xl:px-7 lg:px-6 lg:py-2.5 md:px-6 md:py-2.5 px-5 py-2 md:mt-2 lg:mt-0 bg-green text-white hover:bg-liteblack font-base font-semibold tracking-0.2" >Launch App.</button>
          </div>
        </div>
      </div> 
        <button onclick="dropdown() " ondblclick="double()" class="lg:hidden md:inline-flex float-left"><i class="fa fa-bars " aria-hidden="true"></i></button>
      </div>
    </nav>
</header>






  
  